{% extends "layout.html" %}

{% block extra_head %} 
<link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap-datetimepicker.min.css') }}">
<link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
<script src="{{ url_for('static', filename='js/moment.js') }}"></script>
<script src="{{ url_for('static', filename='js/bootstrap-datetimepicker.min.js') }}"></script>
<script src="{{ url_for('static', filename='js/gestion_solicitud.js') }}"></script>
{% endblock %}

{% block content %}

<!-- Page Content -->
<div id="page-content-wrapper" class="w3-main" style="margin-left:340px;margin-right:40px;">
    <div class="container-fluid">
        
      <!-- Variable que indica si se esta en una gestion de solicitud de usuario o de administrador -->
      <input type="text" hidden="true" value="{{tipo_user}}" id="tipo_user">

    	<div class="row">
      
	        <div class="col-md-6">

	            <div class="row">

	                <div class="col-md-9">

	                    <div class="w3-container" style="margin-top:80px" id="showcase">
	                        <h1 class="w3-jumbo"><b>Distribuidor GJG</b></h1>
	                        <h1 class="w3-xxxlarge w3-text-red"><b>Gestión de Solicitudes.</b></h1>
	                        <hr style="width:50px;border:5px solid red" class="w3-round">
	                                                     
	                    </div>

	                </div>

	                <div class="col-md-3">

	                    <img style="margin-top:80px" width="180" height="180" src="{{ url_for('static', filename='imagenes/logo.png') }}"">

	                </div>

	            </div>                     

	        </div>

	        <div class="col-md-6"></div>
	                
	    </div></br>

        <div class="row">
               
            <!-- Indicar que esta es la fecha en que se realizo la compra -->
            <!-- Calendarios -->
		    <div class='col-sm-2'>
		        <div class="form-group">
		            <div class='input-group date'>
		                <input id="fecha1" type='text' placeholder="Fecha Inicial" class="form-control datepicker" />
		                <span class="input-group-addon">
		                    <span id="calendar1" class="glyphicon glyphicon-calendar"></span>
		                </span>
		            </div>
		        </div>
		    </div>
		    <div class='col-sm-2 text-right'>
		        <div class="form-group">
		            <div class='input-group date'>
		                <input id="fecha2" type='text' placeholder="Fecha Final" class="form-control datepicker" />
		                <span class="input-group-addon">
		                    <span id="calendar2" class="glyphicon glyphicon-calendar"></span>
		                </span>
		            </div>
		        </div>
		    </div>

	     	
        	<div class="col-md-1 text-right" style="margin-top: 10px;">
				<p ><b>Estado</b></p>
			</div>
    		<div class="col-md-2 text-right">
		  		<select class="form-control" id="sel_solicitudes" name="estado">
		  			<option> </option>
		  			<option> POR PROCESAR </option>
		  			<option> PROCESADO </option>
		  			<option> EN RUTA </option>
		  			<option> ENTREGADO </option>
		  		</select>
		  		</br>
    		</div>
    		<div class="col-sm-2 text-right">
		    	<button class="btn btn-primary" type="submit" id="botonBuscar">Buscar</button></br></br>
        	</div>		  		

        </div> <!-- end row -->

        <div class="row">
    			{% if actualizado is defined %} 
    				<script>
    					$(document).ready(function(){
                $("#dialog_actualizacion").dialog({
                  autoOpen : false,
                  modal : true,
                  show : "blind",
                  hide : "blind",
                  my: "center",
                  at: "center",
                  of: window,
                  buttons: {
                    "Aceptar": function () {
                      $(this).dialog("close");
                    }
                  }  
                });
                
    						$("#dialog_actualizacion").dialog("open");
                
    					});
    				</script>
            {% set actualizado = 0 %} 
    			{% endif %}
    			<div class="col-md-9">
    				<table class="table table-bordered table-hover" id='tab_logic'>
    				    <thead>
    				      <tr class="danger">
    				        <th># Orden</th>
    				        <th>Enviado a</th>
    				        <th>Comercio</th>
    				        <th>Costo</th>
    				        <th>Fecha de Compra</th>
    				        <th>Fecha Estimada</th>
    				        <th>Estatus</th>
    				        <th>Dirección</th>
    				      </tr>
    				    </thead>
    				    <tbody>

    				    </tbody>
    				  </table>
    			</div>


		</div> <!-- end row -->

    </div>
</div>
<!-- /#page-content-wrapper -->

<!-- modal Editar Solicitud-->
<div class="modal fade" id="editModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModaleditl">Editar Solicitud</h4>
      </div>
      <div class="modal-body">
        <div class=" row row-completo">
          <div class="col-md-2 col-xs-2"></div>
          <div class="col-md-8 col-xs-8">
            <form id="form-edit" action="/editar-solicitud" method="post" data-toggle="validator">
          		
          		<div class="form-group">
          			<label for="tracking"># De Orden</label>
          			<input type="text" class="form-control" id="tracking" name="tracking" readonly>
            	</div>

            	<div class="form-group">
          			<label for="fecha">Fecha</label>
          			<input type="text" class="form-control" id="fecha" name="fecha" readonly>
            	</div>

            	<div class="form-group">
          			<label for="locacion" id="locacion_label">Locación</label>
          			<input type="text" class="form-control" id="locacion" name="locacion">
            	</div>

          		<div class="form-group">
				  <label for="sel">Estado</label>
				  <select class="form-control" id="sel" name="estado">
					<option value="1">POR PROCESAR</option>
					<option value="2">PROCESADO</option>
					<option value="3">EN RUTA</option>
					<option value="4">ENTREGADO</option>
				  </select>
				</div>

              <div class="text-aling-center">
                <button id="boton_editar" type="submit" class="btn btn-primary">Aceptar</button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>

  	<div id="dialog" title="¡Atención!">
  		<p>Los campos de fecha son requeridos.</p>
  	</div>

    <div id="dialog_actualizacion" title="¡Acción Completada!">
      <p>Actualización Exitosa.</p>
    </div>

</div>


<script type="text/javascript">
    $(function () {

    	$("#dialog").dialog({
          autoOpen : false,
          modal : true,
          show : "blind",
          hide : "blind",
          my: "center",
          at: "center",
          of: window,
          buttons: {
            "Aceptar": function () {
              $(this).dialog("close");
            }
          }  
        });



    	$("#calendar1").click(function() {
          $("#fecha1").focus();
        });

        $("#calendar2").click(function() {
          $("#fecha2").focus();
        });

    	$('.datepicker').datepicker();
        $.datepicker.regional['es'] = {
          closeText: 'Cerrar',
          prevText: '<Ant',
          nextText: 'Sig>',
          currentText: 'Hoy',
          monthNames: ['Enero', 'Febrero', 'Marzo', 'Abril', 'Mayo', 'Junio', 'Julio', 'Agosto', 'Septiembre', 'Octubre', 'Noviembre', 'Diciembre'],
          monthNamesShort: ['Ene','Feb','Mar','Abr', 'May','Jun','Jul','Ago','Sep', 'Oct','Nov','Dic'],
          dayNames: ['Domingo', 'Lunes', 'Martes', 'Miércoles', 'Jueves', 'Viernes', 'Sábado'],
          dayNamesShort: ['Dom','Lun','Mar','Mié','Juv','Vie','Sáb'],
          dayNamesMin: ['Do','Lu','Ma','Mi','Ju','Vi','Sá'],
          onSelect: function() {
		    $('#fecha2').datepicker('option', 'minDate', $("#fecha1").datepicker("getDate"));
		  },
          weekHeader: 'Sm',
          dateFormat: 'dd/mm/yy',
          firstDay: 1,
          isRTL: false,
          showMonthAfterYear: false,
          yearSuffix: ''
        };
        $.datepicker.setDefaults($.datepicker.regional['es']);
    });
</script>

{% endblock %}