{% extends "layout.html" %}

{% block extra_head %} 
<link rel="stylesheet" href="{{ url_for('static', filename='css/registro.css') }}">
{% endblock %}

{% block content %}

<div id="page-content-wrapper" class="w3-main" style="margin-left:340px;margin-right:40px;">

	<div class="row">
      
        <div class="col-md-6">

            <div class="row">

                <div class="col-md-9">

                    <div class="w3-container" style="margin-top:80px" id="showcase">
                        <h1 class="w3-jumbo"><b>Distribuidor GJG</b></h1>
                        <h1 class="w3-xxxlarge w3-text-red"><b>Registro.</b></h1>
                        <hr style="width:50px;border:5px solid red" class="w3-round">
                                                     
                    </div>

                </div>

                <div class="col-md-3">

                    <img style="margin-top:80px" width="180" height="180" src="{{ url_for('static', filename='imagenes/logo.png') }}"">

                </div>

            </div>                     

        </div>

        <div class="col-md-6"></div>
                
    </div>

	<div class="row ">
		
		<div class="col-md-9 text-center logo">
			<img src="{{ url_for('static', filename='imagenes/registrate.jpg') }}">
		</div>

	</div>

	<div class="row ">
		
		</br>
		<div class="col-md-9 text-center logo">
			<div class="separadorTitulo"></div>
		</div>

	</div>
	
	
	<div class="row">
		<div class="col-md-9">
			{{current_user}}
			{% if registrado is defined %}
			<p class="text-center">{{registrado}}</p>
			<div class="text-center">
				<a href="#" data-toggle="modal" data-target="#LoginModal">Iniciar Sesión</a>
			</div>

			{% elif error is defined %}
				</br>
				<p class="text-center" style="color:red;">{{error}}</p>
 			{% endif %}

 			</br>
			<form id="form-login" action="/signup" method="post" data-toggle="validator"">
				<div class="row">
					<div class="col-md-6">
						<p><label for="nombre">Nombre:</label></p>
						<p><input name="nombre" type="text" id="nombre" class="form-control" placeholder="Nombres" autofocus="" required="true" autocomplete="off"/ ></p>
						<p><label for="rif">RIF:</label></p>
						<p><input name="rif" type="text" id="rif" class="form-control" placeholder="Ej. 18545750" required="true" pattern=".{8,9}" required title="8 o 9 caracteres" autocomplete="off"/></p>
						
						<p><label for="correo">Correo:</label></p>
						<p><input name="correo" type="email" id="correo" class="form-control" placeholder="Correo Electrónico" required="true" autocomplete="off"/></p>
					</div>
					<div class="col-md-6">
						<p><label for="pass">Contraseña:</label></p>
						<p><input name="password" type="password" id="pass" class="form-control" placeholder="Contraseña" required="true" pattern=".{8,}" required title="8 caracteres mínimo" autocomplete="off"/></p>
						
						<p><label for="repass">Repetir Contraseña:</label></p>
						<p><input name="repassword" type="password" id="repass" class="form-control" placeholder="Repite contraseña" data-match="#pass" required="true" pattern=".{8,}" required title="8 caracteres mínimo" autocomplete="off"/></p>			

						<p><label for="codPostal">Código Postal:</label></p>
						<p><input name="codPostal" type="text" id="codPostal" class="form-control" placeholder="Ej. 1060" required="true" autofocus="" pattern="[0-9]{4}" required title="4 dígitos" autocomplete="off"/ ></p>

						<p class="text-right"><input type="checkbox" required="true" name="TyC" value="TyC" class="form-control checkbox" data-match-error="Contraseña incorrecta" >
						<b>Acepto los términos y condiciones de uso</b></p></br>
						<p id="bot"><button class="btn btn-primary" type="submit">Registrarse</button></p>
					</div>
				</div>
			</form>
		</div>
	</div>
</div>
{% endblock %}